:root {
    --carCurr: #216869;
    --tranzish: .4s ease-in-out;
}

/* A few general styling bits */
body {
    font-family: 'Trebuchet', sans-serif;
    background-color: #5bc0eb;
}

header {
    background-color: var(--carCurr);
    border-bottom: 2px solid #49A078;
}

h3 {
    font-size: 24px;
}

/* Search form styling */
#submitSearch {
    background-color: var(--carCurr);
}

#submitSearch:hover {
    opacity: 80%;
    cursor: pointer;
}

#citySearch:focus {
    border: 2px solid #9CC5A1;
}

/* Search history list item styling */
.history-item {
    font-weight: 600;
    background-color: #49A078;
}

.history-item:hover {
    border: 1px solid var(--carCurr);
    opacity: 80%;
    cursor: pointer;
}

/* Current weather area */
#currentWeather {
    height: 220px;
}

/* Five-day forecast area styling */
#fiveDayForecast {
    height: 280px;
}

.card-title {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.card-body p {
    color: white;
    font-size: 15px;
    font-weight: 500;
}